html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.hidden {
  display: none; }

.transparent {
  opacity: 0;
  pointer-events: none; }

.grayed-out {
  opacity: .35;
  pointer-events: none; }

.tiny {
  transform: scale(0.4); }

.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: sans-serif; }
  .app h1 {
    width: 100%;
    font-size: 3rem;
    margin: 50px 0 20px;
    text-align: center; }

div::-webkit-scrollbar {
  width: 10px;
  background-color: #868686; }

div::-webkit-scrollbar-thumb {
  background-color: #333; }

.general-overlay {
  background-color: rgba(255, 255, 255, 0.97);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity .5s; }

#form {
  width: 95%;
  max-width: 700px;
  margin: 0 auto; }

.file-uploader {
  max-height: 600px;
  transition: transform .3s, opacity .3s, max-height .25s; }
  .file-uploader p {
    display: inline-block;
    font-weight: bold; }
  .file-uploader input[type="file"] {
    display: none; }
  .file-uploader__attach {
    border-radius: 3px; }
  .file-uploader > div {
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 5px;
    justify-content: flex-end;
    border: 1px solid #000; }
  .file-uploader__div {
    background-color: #f3f3f3;
    border-radius: 7px;
    box-shadow: 0 0 17px -2px rgba(0, 0, 0, 0.459);
    padding: 30px 20px;
    margin: 30px 0;
    position: relative; }
  .file-uploader__label-upload {
    background-color: #116466;
    color: #fff;
    width: 20%;
    margin: 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    border-radius: 0 2px 2px 0; }
    .file-uploader__label-upload i {
      pointer-events: none; }
  .file-uploader label.remove-file {
    background-color: #be1717; }
  .file-uploader__span-attach {
    border: 0;
    margin: 0;
    display: none; }
  .file-uploader__text {
    font-size: 0.7em;
    position: absolute;
    left: 5px;
    width: 78%; }
  .file-uploader .fa-upload,
  .file-uploader .remove-file i {
    color: #fff;
    padding-bottom: 0;
    font-size: 1.3em;
    margin: 0;
    pointer-events: none;
    padding-top: 0; }
  .file-uploader__add-btn {
    display: inline-block;
    padding: 10px;
    width: unset;
    margin: 10px 0;
    background-color: #eee;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; }
    .file-uploader__add-btn .fa-plus-circle {
      color: #116466;
      pointer-events: none; }
    .file-uploader__add-btn span {
      color: #555;
      margin-left: 5px;
      pointer-events: none; }
  .file-uploader__hint {
    font-size: 0.7em;
    font-weight: bold;
    position: absolute;
    background-color: #eee;
    max-width: 400px;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.33);
    padding: 10px;
    left: 0;
    top: 40px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    z-index: 10;
    border-radius: 4px; }
    .file-uploader__hint:hover {
      opacity: 1;
      pointer-events: all; }
    .file-uploader__hint span {
      display: block; }
  .file-uploader .fa-info-circle {
    color: #333;
    margin-left: 5px;
    font-size: 1rem; }
    .file-uploader .fa-info-circle:hover + .file-uploader__hint {
      opacity: 1;
      pointer-events: all; }
  .file-uploader__close-window {
    position: absolute;
    right: 6px;
    top: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer; }
    .file-uploader__close-window:hover i {
      color: #999; }
    .file-uploader__close-window i {
      color: #555;
      pointer-events: none;
      transition: color .25s; }

.file-uploader-bar {
  width: 65%;
  max-width: 400px;
  border: 3px solid #444;
  height: 30px;
  position: relative;
  border-radius: 3px;
  margin: 0 10px; }
  .file-uploader-bar__div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    .file-uploader-bar__div h3,
    .file-uploader-bar__div .barra-legenda {
      width: 100%;
      text-align: center;
      margin-bottom: 20px; }
  .file-uploader-bar__fill {
    height: 100%;
    background-color: #116466;
    width: 0;
    transition: width .6s; }
  .file-uploader-bar__text {
    margin: 0 10px;
    text-align: center;
    width: 100%; }

.generic-messages__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.975);
  transition: opacity .3s; }

.generic-messages__div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.295); }
  .generic-messages__div__message-header {
    position: relative;
    background-color: #202020;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .generic-messages__div__message-header span {
    font-size: 1.5rem; }
  .generic-messages__div__close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform .15s, color .15s;
    transform-origin: 50% 50%; }
    .generic-messages__div__close-icon:hover {
      color: #ccc;
      transform: scale(1.3); }
  .generic-messages__div__message-body {
    background-color: #fff;
    color: #555;
    padding: 20px; }
  .generic-messages__div .btn-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 0; }
    .generic-messages__div .btn-container button {
      padding: 10px 20px;
      background-color: #eee;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      transition: background-color .3s, color .3s, transform .3s;
      width: 25%;
      transform-origin: 50% 50%; }
  .generic-messages__div .btn-container button:hover {
    color: #fff;
    transform: scale(1.1); }
  .generic-messages__div .btn-container button.no:hover {
    background-color: #04c404; }
  .generic-messages__div .btn-container button.yes:hover {
    background-color: #c40404; }

h2.message-title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 20px; }
